<div class="row question-box">
	<div class="col-3 question_box_left">
		<div class="row">
			<img src="/kiska.jpg" alt="My image" class="question-img">
		</div>
	</div>
	<div class="col-9">
		<div class="question_box_right">
			<div class="question-title">Моя мать.. Она была железобетонная.</div>
			<div class="question-text">Дело было в симферополе..</div>
			<div class="row">
				<div class="col">
					<a class="ans_tag" href="{% url 'question_answers' question.id  %}">показать всю исповедь</a>
				</div>
			</div>
		</div>
	</div>
</div>