<header>
    <%= render 'home/navbar' %>
</header>
<div class="container">
    <div class="row row-quest question_title">
		<span href="" id="new_questions_text">Исповеди</a>
    </div>

    <div class="row">
        <div id="question-section" class="col">
            <%= render 'home/question' %>
        </div>
    </div>

    <div id = "login_status_info">
		<span>
            <% if current_user %>
              Logged in as <%= current_user.email %>
            <% else %>
              You've not yet authenticated
            <% end %>
        </span>
    </div>
</div>

